{% extends "MainApp/wrapper.html" %}

<!-- Страница с новостями -->

{% block content %}

    {% for post in object_list %}

        <div class="media" style="border-bottom: inset rgba(255, 255, 255, 0.7); padding: 30px; ">

            <a class="pull-left" href="#">
                <img src="{{MEDIA_URL}}{{ post.image }}" alt="..." class="img-rounded media-object" style="width: 227px; margin: 10px">
            </a>

            <div class="media-body">
                <a style="text-decoration: none;" href="{% url 'url_post' post.id %}">
                    <h3 style="width: 750px; margin-top: 35px">{{ post.title }}</h3>
                </a>
                <h5 align="right" style="font-family: 'Century Gothic';">{{ post.date|date:"d-m-Y" }}</h5>
            </div>

        </div>

    {% endfor %}
{% endblock %}
